### Задача 3.
Даны файлы 1, 2, 123. Допустим это логи некоторых активностей (не играет значения что это), со временем активности и географическими координатами

**А)** Сделать датафрейм с попарным сравнением расстояния между всеми активностями в файлах 1, 2\
Вот статья про перевод разницы градусов долгот/широт в километры\
https://www.datafix.com.au/BASHing/2018-11-07.html \
Если будут сложности с реализацией, то будет дан прекод про расчету расстояния

**Б)** Для файла 123 подготовить функцию, которая будет по задаваемым параметрам координат и времени (дата и часы) генерировать строки со следующими аттрибутами\
1) Время в часах от предыдущей активности по времени активности до заданного времени (только число).
Например, задали дату, время - '2021-10-01 13:00', то в таблице ищется ближайшее по времени событие перед заданным временем;\
2) Расстояние в метрах от предыдущей активности до заданной координаты; \
3) Время после заданного и до ближайшей активности после заданного времени до ближайшей активности (по аналогии с ближайшим событием перед заданным временем из п. 1, 2).Если последующей активности нет, то ничего не проставлять, то есть если введено время, после которого нет залогированного события;\
4) Расстояние в метрах от заданных координат до координат следующей активности;\
5) Количество активностей в радиусе 1км от заданных координат в течение одного года до заданного времени;\
6) Количество активностей в радиусе 1км от заданных координат в течение одного года после заданного времени.

Подразумевается, что функция за один вызов генерирует одну строчку.

С такими признаками в цикле сгенерировать не менеее 30тыс. объектов (строк) по следующему принципу:\
В цикле рандомно генерируются координаты и время с некоторыми шумом, т.е. некоторая величина из какого-либо распределения с определенным средним и разбросом (дисперсией)\
(не важно какие параметры распределения, среднего и разброса (дисперсии), главное чтобы их было легко изменить в коде).

Примеры координат и времени разной удаленности

55.6734505, 37.464512
55.6745226, 37.463415
55.8604535, 37.702246
55.8724547, 37.864217
56.0734505, 38.064510
53.0734505, 35.064511
51.0734505, 37.064511

'2021-06-20 16:00'
'2021-06-20 10:00'
'2021-06-20 19:00'
'2021-06-20 23:00'
'2021-06-19 23:00'
'2021-06-21 01:00'
'2021-06-23 15:00'
'2021-06-27 11:00'
'2021-06-01 12:00'
'2021-09-01 13:00'

Соответственно в цикле вызывается вышеописанная функция с созданием признаков.

При этом для каждого объекта (строчки) в цикле необходимо проставить 1 в случае, если ближащие по времени события (события до и после - первые 4 признака) были близко по времени (допустим, в течение нескольких недель) и близко по расстоянию (допустим в пределах 15км) и если были активности в течение одного года до / после заданного времени в радиусе 1км (признаки 5, 6).\
Для каждого объекта (строчки) необходимо проставить 0, если ближащие события были близко по времени (допустим, в течение нескольких часов), а расстояние от ближайших по времени активностей большое, например, более 100км и за всю историю не было активностей. Для остальных признаков расстановка осуществляется рандомно.\
Здесь внимание, качество проставления единиц и нулей оценивается слабо, т.е. если ты дошел до этого этапа и не знаешь быстро как это сделать, то это не будет минусом.

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import math
import random
from tqdm import tqdm
import matplotlib.pyplot as plt

In [2]:
table1 = pd.read_csv('~/!Tests/1.csv', sep=';', parse_dates=['Дата операции'])
table2 = pd.read_csv('~/!Tests/2.csv', sep=';', parse_dates=['Дата операции'])
table123 = pd.read_csv('~/!Tests/123.csv', sep=';', parse_dates=['Дата операции'])

In [3]:
datasets = [table1,table2,table123]
for df in datasets:
    print(df.info(), '\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Дата операции  1143 non-null   datetime64[ns]
 1   Координаты     1105 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 18.0+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Дата операции  189 non-null    datetime64[ns]
 1   Координаты     178 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 3.1+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Дата операции  1332 non-null   datetime64[ns]
 1   Координаты     1283 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 20.9+ KB
None

Во всех датасетах есть пропущенные значения по координатам, удалим их.

In [4]:
table1 = table1.dropna()
table2 = table2.dropna()
table123 = table123.dropna()

### Задание 3а

Создадим функцию для расчета расстояния.

In [5]:
def distance(lat1,long1,lat2,long2):
    pi = 3.14159
    x = 111.32 * (lat2 - lat1)
    y = 111.32 * (long2 - long1) * math.cos(lat1 * (pi / 180))  

    return math.sqrt(x**2 + y**2)

Получим итоговый отчет по расстояниям между активностями, вставляя пропуски, где координаты не определены.

In [6]:
result = table1.merge(table2, how='cross', suffixes=('_t1','_t2'))
result['distance'] = result.apply(lambda df: distance(
float([df['Координаты_t1'].split(' , ')[0] if df['Координаты_t1'] == df['Координаты_t1'] else np.nan][0]),
float([df['Координаты_t1'].split(' , ')[1] if df['Координаты_t1'] == df['Координаты_t1'] else np.nan][0]),
float([df['Координаты_t2'].split(' , ')[0] if df['Координаты_t2'] == df['Координаты_t2'] else np.nan][0]),
float([df['Координаты_t2'].split(' , ')[1] if df['Координаты_t2'] == df['Координаты_t2'] else np.nan][0])),
          axis=1)
result

,Дата операции_t1,Координаты_t1,Дата операции_t2,Координаты_t2,distance
0,2021-07-20 10:53:00,"55.7615174 , 37.6834498",2021-07-20 11:51:00,"55.7426108 , 37.5313959",9.753387
1,2021-07-20 10:53:00,"55.7615174 , 37.6834498",2021-07-20 06:38:00,"55.6734505 , 37.464511",16.856796
2,2021-07-20 10:53:00,"55.7615174 , 37.6834498",2021-07-19 09:51:00,"0 , 0",6640.944696
3,2021-07-20 10:53:00,"55.7615174 , 37.6834498",2021-07-19 09:51:00,"0 , 0",6640.944696
4,2021-07-20 10:53:00,"55.7615174 , 37.6834498",2021-07-19 09:50:00,"0 , 0",6640.944696
...,...,...,...,...,...
196685,2020-01-01 12:12:00,"55.8143736 , 37.3621306",2021-11-01 15:16:00,"55.673514 , 37.464937",16.947776
196686,2020-01-01 12:12:00,"55.8143736 , 37.3621306",2021-11-01 15:15:00,"55.673514 , 37.464937",16.947776
196687,2020-01-01 12:12:00,"55.8143736 , 37.3621306",2021-07-01 06:06:00,"0 , 0",6638.207120
196688,2020-01-01 12:12:00,"55.8143736 , 37.3621306",2021-04-01 13:54:00,"55.673594 , 37.465008",16.941223
196689,2020-01-01 12:12:00,"55.8143736 , 37.3621306",2021-01-01 14:04:00,"0 , 0",6638.207120

### Задание 3b

В пандасе можно сохранять порядок строк в таблице, поэтому сразу отсортируем таблицу 123 по дате, чтобы сократить количество вычислений в функции.

In [7]:
table123 = table123.sort_values('Дата операции', ignore_index=1)

Для этих же целей разделим столбец Координаты на широту и долготу.

In [8]:
table123['Широта'] = table123['Координаты'].str.split(' , ').str[0].apply(float)
table123['Долгота'] = table123['Координаты'].str.split(' , ').str[1].apply(float)
table123.head(5)

        Дата операции                Координаты     Широта    Долгота
0 2020-01-01 12:12:00   55.8143736 , 37.3621306  55.814374  37.362131
1 2020-01-01 12:13:00   55.8143853 , 37.3621291  55.814385  37.362129
2 2020-01-01 20:53:00   55.8149969 , 37.3614958  55.814997  37.361496
3 2020-01-05 06:10:00  55.8112733333 , 37.70898  55.811273  37.708980
4 2020-01-05 11:19:00  55.8112733333 , 37.70898  55.811273  37.708980

Создадим функцию для расчета параметров по заданным времени и координатам.

In [9]:
def get_row_params(ts, lat, long):
    
    table123_temp = table123.copy()
    table123_temp['Разность дат'] = ((ts - table123_temp['Дата операции']).dt.total_seconds() / 3600).round(1)
    table123_temp['Расстояние'] = table123_temp.apply(lambda df: distance(lat,long,df['Широта'],df['Долгота'])
                                                      ,axis=1).mul(1000).round(1)
    
    if ts <= table123_temp['Дата операции'][0]:
        ts_diff_prev = np.nan
        distance_prev = np.nan
        ts_diff_next = -table123_temp['Разность дат'][0]
        distance_next = table123_temp['Расстояние'][0]
        count_prev = 0
        count_next = table123_temp.query('`Разность дат` >= -24 * 365 and Расстояние <= 1000').shape[0]
        
    elif ts >= table123_temp['Дата операции'][table123.shape[0]-1]:
        ts_diff_prev = table123_temp['Разность дат'][table123.shape[0]-1]
        distance_prev = table123_temp['Расстояние'][table123.shape[0]-1]
        ts_diff_next = np.nan
        distance_next = np.nan
        count_prev = table123_temp.query('`Разность дат` <= 24 * 365 and Расстояние <= 1000').shape[0]
        count_next = 0
    
    else:
        ind_next_closest = table123_temp['Дата операции'].searchsorted(ts)
        
        ts_diff_prev = table123_temp.loc[ind_next_closest-1, 'Разность дат']
        distance_prev = table123_temp.loc[ind_next_closest-1, 'Расстояние']
        ts_diff_next = -table123_temp.loc[ind_next_closest, 'Разность дат']
        distance_next = table123_temp.loc[ind_next_closest, 'Расстояние']
        count_prev = table123_temp.loc[0:(ind_next_closest-1),:]\
        .query('`Разность дат` <= 24 * 365 and Расстояние <= 1000').shape[0]
        count_next = table123_temp.loc[ind_next_closest:(table123_temp.shape[0]-1),:]\
        .query('`Разность дат` >= -24 * 365 and Расстояние <= 1000').shape[0]
    
    params_list = [ts_diff_prev, distance_prev, ts_diff_next, distance_next, count_prev, count_next]
    return params_list

Запустим цикл.

In [10]:
#задаем параметры генерации данных
n = 30000
mean_ts = table123['Дата операции'].median()
days_std = table123['Дата операции'].std().days
mean_lat = table123['Широта'].median()
std_lat = 0.1
mean_long = table123['Долгота'].median()
std_long = 0.2

#создаем таблицу отчета
final_report = pd.DataFrame(columns=['Дата','Широта','Долгота','Время от прошлого события (ч)',
                                     'Расстояние от прошлого события (м)', 'Время до будущего события (ч)', 
                                     'Расстояние до будущего события (м)', 'Количество прошлых событий', 
                                     'Количество будущих событий', 'Доп. атрибут'])
#запускаем цикл
for i in tqdm(range(n)):
    data_gen = [mean_ts + dt.timedelta(round(np.random.normal(0,days_std),2)), #генерируем данные
                np.random.normal(mean_lat,std_lat),
                np.random.normal(mean_long,std_long)]
    params = get_row_params(data_gen[0],data_gen[1],data_gen[2]) #считаем параметры для этих данных

#рассчитываем доп.атрибут
    if params[0]/24/7 < 4 and params[2]/24/7 < 4 and \
       params[1] < 1000 and params[3] < 1000 and \
       params[4] > 0 and params[5] > 0:
        add_attr = [1]
    elif params[0] < 6 and params[2] < 6 and \
         params[1] > 100000 and params[3] > 100000 and \
         params[4] == 0 and params[5] == 0:
        add_attr = [0]
    else:
        add_attr = [random.randint(0,1)] # как по условию задачи - рандомно
#объединяем все поля в список и вставляем в датафрейм
    data_gen.extend(params)
    data_gen.extend(add_attr)
    final_report.loc[i] = data_gen
final_report.head(50)

100%|████████████████████████████████████████████████████████████████████████████| 30000/30000 [16:21<00:00, 30.57it/s]

,Дата,Широта,Долгота,Время от прошлого события (ч),Расстояние от прошлого события (м),Время до будущего события (ч),Расстояние до будущего события (м),Количество прошлых событий,Количество будущих событий,Доп. атрибут
0,2020-08-04 10:15:24,55.942961,37.891031,4.2,18537.6,41.4,18540.8,0,0,0
1,2020-08-10 12:53:48,55.951892,37.252338,7.0,32601.8,18.4,32470.6,0,0,0
2,2020-06-18 04:44:12,55.676505,37.484596,42.9,15687.3,1.0,15695.0,0,0,1
3,2021-11-27 21:32:12,55.751930,37.821598,509.1,6643235.4,82.0,8694.3,0,0,1
4,2021-02-28 12:39:24,55.865225,37.846559,21.5,10476.2,18.1,10470.5,0,0,0
5,2021-02-14 04:58:36,55.852384,37.721257,16.6,4619.6,1.9,4619.6,0,0,0
6,2022-06-10 12:10:36,55.777618,37.410830,4460.1,5641.0,NaN,NaN,0,0,1
7,2020-10-06 04:15:24,55.781324,38.189036,42.8,30221.5,1.9,31724.1,0,0,1
8,2020-07-11 18:10:36,55.750001,37.543474,12.1,12429.7,93.3,726057.4,0,3,0
9,2021-02-23 17:56:12,55.860229,37.446721,9.2,17253.8,16.9,18386.4,0,0,1
10,2020-09-09 18:39:24,55.755508,37.916258,2.9,15514.1,16.4,14597.5,0,0,1
11,2020-09-14 09:32:12,55.646573,38.240766,19.5,39293.7,45.0,40454.0,0,0,0
12,2020-03-02 06:53:48,55.633702,37.701859,21.6,19804.2,2.4,14935.8,0,0,1
13,2020-05-28 02:05:48,55.815265,37.890108,15.5,11370.1,6.4,11342.6,0,0,0
14,2020-07-26 14:34:36,55.716706,37.888487,73.3,13753.5,2.8,16027.3,0,0,1
15,2020-03-18 01:08:12,55.851700,37.573484,18.7,12159.2,6.9,12133.0,0,0,0
16,2021-09-23 04:44:12,55.636385,37.593922,368.2,6628618.4,202.4,28268.2,0,0,1
17,2020-09-20 22:29:48,55.597684,37.599450,11.8,22366.1,4.8,24772.7,0,0,1
18,2021-02-20 22:15:24,55.658111,37.854761,3.3,6636261.7,18.1,22229.6,0,0,1
19,2020-12-23 15:32:12,55.768534,37.566146,1.4,7400.4,139.5,7414.0,0,2,1
20,2021-08-10 05:41:48,56.034422,37.769770,60.2,18850.6,534.7,27208.0,0,0,1
21,2020-08-02 09:17:48,55.759723,37.965110,4.5,6647087.5,44.7,17062.6,0,0,0
22,2021-02-02 20:34:36,55.706201,37.494546,9.8,13567.3,46.3,6632170.0,0,0,0
23,2021-02-26 21:03:24,55.658346,37.904806,7.1,15735.3,12.6,4914.9,0,0,0
24,2020-06-07 04:44:12,55.649498,37.896070,40.0,22450.6,4.6,21528.3,0,0,1
25,2021-02-28 06:39:24,55.653135,37.522093,15.5,21173.7,24.1,21178.3,0,0,1
26,2020-09-15 10:29:48,55.719683,37.574057,44.5,9294.6,20.1,4251.4,0,5,0
27,2020-09-05 07:37:00,55.719659,37.366556,47.8,23778.5,22.3,20420.0,0,0,0
28,2020-05-01 04:01:00,55.724829,37.533168,7.0,14633.9,48.8,10262.8,0,0,1
29,2019-10-28 10:01:00,55.720611,37.809728,NaN,NaN,1562.2,29942.0,0,0,1
30,2021-01-16 08:34:36,55.632806,37.584379,20.8,15467.1,45.4,6628109.3,0,0,1
31,2021-02-06 01:51:24,55.648708,37.714771,31.0,6632343.1,178.4,18121.5,0,0,1
32,2021-01-18 01:08:12,55.698024,38.014827,61.4,21994.3,4.8,6643141.0,0,0,1
33,2020-04-19 15:17:48,55.742835,38.106311,31.4,26050.3,24.4,26051.4,0,0,0
34,2020-11-26 04:58:36,55.643900,37.634363,15.2,13413.0,48.5,19233.1,0,0,0
35,2020-08-09 14:20:12,55.793711,37.710798,8.8,2992.2,0.6,3973.4,3,8,0
36,2021-05-13 10:01:00,55.629093,37.497596,5.8,6625861.1,24.4,6625861.1,0,0,0
37,2020-11-11 07:08:12,55.804461,37.778755,22.2,4434.7,2.7,4442.8,0,0,0
38,2021-02-09 19:22:36,55.762710,37.958641,120.5,6647188.0,88.9,16552.1,0,0,1
39,2021-01-23 14:05:48,55.779659,37.456008,5.1,6637398.6,39.4,16318.7,0,0,1
40,2020-04-04 12:39:24,55.853269,37.912623,18.5,14261.0,64.7,13558.9,0,0,1
41,2021-04-05 20:49:00,55.786219,37.796969,6.0,6645510.2,10.0,5919.3,0,0,1
42,2020-05-30 06:53:48,55.754125,37.572790,15.3,10628.0,6.1,71061.7,0,0,1
43,2020-07-05 06:25:00,55.762397,37.735187,12.3,5710.0,1.2,5709.0,0,3,0
44,2021-04-11 21:03:24,55.659780,37.931093,108.6,6638117.4,33.6,6638117.4,0,0,1
45,2020-01-05 13:22:36,55.654741,37.646070,2.1,17867.5,16.1,12066.1,0,0,1
46,2020-03-24 10:29:48,56.047543,37.998224,22.2,31846.2,43.0,31829.3,0,0,1
47,2020-09-14 01:37:00,55.680633,37.515795,11.6,14976.7,53.0,5319.8,0,5,1
48,2021-05-26 14:34:36,55.780585,37.698635,23.2,6642856.4,1.1,16835.3,0,4,0
49,2020-11-05 18:10:36,55.670973,37.753483,53.9,10861.8,10.6,11035.6,0,0,0