## Тестовое задание 1

**Содержание**:

0. Оригинальное решение
1. Проверка на сгенерированных данных чуть большим объёмом

### 0. Оригинальное решение

In [1]:
import pandas as pd
import psycopg2
import os

**Общая идея**:
1) Запускаем запрос с входными параметрами\
2) Из выгруженного массива собираем все уникальные значения из разных столбцов в соответствующие кортежи\
3) После делаем второй запрос с перебором всех возможных вариантов из кортежей, и так далее...\
4) После каждой итерации сохраняем число строк в выгруженном массиве. Когда число строк перестает увеличиваться, выводим результат.

In [2]:
def task1_func(id=-1, phone=-1, mail='??'):
    
    #создаем подключение к бд
    dbpassword = os.getenv('pgAdmin_password')
    engine = psycopg2.connect(host='localhost', dbname='SBER_test', user='postgres', password=dbpassword)

    #значения аргументов функции по умолчанию и первых элементов множеств нужны, чтобы кортежи, которые мы вставляем\
    #в запрос, по виду не отличались от синтаксиса SQL: чтобы сразу было (a,b), а не (a,) например, а то sql ругается
    #задаем начальные множества по каждому параметру
    id_set = {-2,id}
    phone_set = {-2,phone}
    mail_set = {'?',mail}
    #также задаем два значения для списка с количеством строк в результате запроса, чтобы цикл запустился\ 
    #без лишних условий
    result_nrows = [-1,0]
    
    while result_nrows[-2] != result_nrows[-1]:
        #формируем запрос с проверкой на входимость значений по столбцам в наши множества
        query = f'''select * from task1
        where id in {tuple(id_set)} or
              phone in {tuple(phone_set)} or
              mail in {tuple(mail_set)}'''
        #выводим результат по запросу
        result = pd.read_sql_query(query,con=engine)
        #добавляем кол-во строк в выведенном массиве в список
        result_nrows.append(result.shape[0])
        #добавляем новые данные в множества вариантов и повторяем алгоритм
        id_set.update(result.id)
        phone_set.update(result.phone)
        mail_set.update(result.mail)
    #если по запросу данные не найдены, сообщаем об этом
    if result_nrows[-1] == 0:
        return 'No results, change input'
    else:
        return result

In [3]:
task1_func(phone = 87778885566)

   key     id        phone          mail
0    2  54321  87778885566   two@mail.ru
1    4  66678  87778885566  four@mail.ru
2    5  34567  84547895566  four@mail.ru
3    6  34567  89087545678  five@mail.ru

In [4]:
task1_func(mail = 'two@mail.ru')

   key     id        phone          mail
0    2  54321  87778885566   two@mail.ru
1    4  66678  87778885566  four@mail.ru
2    5  34567  84547895566  four@mail.ru
3    6  34567  89087545678  five@mail.ru

In [5]:
task1_func(mail = 'two@ya.ru')

'No results, change input'

### 1. Проверка на сгенерированных данных чуть большим объёмом

Импортируем тестовые данные напрямую в ноутбук без транзита через sql, чтобы не усложнять.

In [6]:
test = pd.read_excel('~\\test.xlsx').drop(columns='Unnamed: 0')
test.head()

   key     id        phone                                     mail
0    0  89001  84758280647         fcormbgnvgwxyrxrndfzsnjb@mail.ru
1    1  78010  83572782012  rjmrvewiqzmcjqjbfqbxjztklzojyiw@mail.ru
2    2  97883  82971429310  alqinkfjqtqdruoczxyxrjjjzxsjxmr@mail.ru
3    3  36435  88388678263                             aaiv@mail.ru
4    4  93636  81130830484                      jqgonuwprhx@mail.ru

In [7]:
test2 = pd.read_excel('~\\test2.xlsx').drop(columns='Unnamed: 0')
test2.head()

   key      id        phone                                        mail
0    0  674448  82711735625               wxlqcywqdhaaheortlpdb@mail.ru
1    1  353974  85375805342  myikngkjmxqezoxclysteuoubgwsofjgkr@mail.ru
2    2  735332  81134824477    xuiwkdyurhilevrosyhxfhqsqqqndjqc@mail.ru
3    3  118908  88761347200            imxcvfojmrowermtdyjxwgcr@mail.ru
4    4  948702  83294687381                  jiaiulghdishvbqcfp@mail.ru

Удалим из оригинальной функции чтение данных из sql, добавим параметр имени датасета (data).

In [8]:
def task1_func(data, id=-1, phone=-1, mail='??'):
    #значения аргументов функции по умолчанию и первых элементов множеств нужны, чтобы кортежи, которые мы вставляем\
    #в запрос, по виду не отличались от синтаксиса SQL: чтобы сразу было (a,b), а не (a,) например, а то sql ругается
    #задаем начальные множества по каждому параметру
    id_set = {id}
    phone_set = {phone}
    mail_set = {mail}
    #также задаем два значения для списка с количеством строк в результате запроса, чтобы цикл запустился\ 
    #без лишних условий
    result_nrows = [-1,0]
    
    while result_nrows[-2] != result_nrows[-1]:
        #выводим результат по запросу
        result = data[(data.id.isin(id_set)) | \
                       (data.phone.isin(phone_set)) | \
                       (data.mail.isin(mail_set))]
        #добавляем кол-во строк в выведенном массиве в список
        result_nrows.append(result.shape[0])
        #добавляем новые данные в множества вариантов и повторяем алгоритм
        id_set.update(result.id)
        phone_set.update(result.phone)
        mail_set.update(result.mail)
    #если по запросу данные не найдены, сообщаем об этом
    if result_nrows[-1] == 0:
        return 'No results, change input'
    else:
        return result

**Проверяем данные по датасету test2 для id 3,4**.

In [9]:
task1_func(test2, id=3)

           key  id        phone                                 mail
156721  156721   3  82198528995  tghqclyykngmzhjcqqvbbltevkl@mail.ru

In [10]:
task1_func(test2, id=4)

           key  id        phone                                     mail
339064  339064   4  85514996363  gjjzfhxnmqezafmuojloiabpdzhjkbi@mail.ru

Найдем "связанные" строки по запросам прямой фильтрацией, чтобы убедиться в корректности полученных результатов.

Для id = 3:

In [11]:
test2.query('id == 3')

           key  id        phone                                 mail
156721  156721   3  82198528995  tghqclyykngmzhjcqqvbbltevkl@mail.ru

In [12]:
test2.query('id == 3 | phone == 82198528995 | mail == "tghqclyykngmzhjcqqvbbltevkl@mail.ru"')

           key  id        phone                                 mail
156721  156721   3  82198528995  tghqclyykngmzhjcqqvbbltevkl@mail.ru

Для id = 4:

In [13]:
test2.query('id == 4')

           key  id        phone                                     mail
339064  339064   4  85514996363  gjjzfhxnmqezafmuojloiabpdzhjkbi@mail.ru

In [14]:
test2.query('id == 4 | phone == 85514996363	 | mail == "gjjzfhxnmqezafmuojloiabpdzhjkbi@mail.ru"')

           key  id        phone                                     mail
339064  339064   4  85514996363  gjjzfhxnmqezafmuojloiabpdzhjkbi@mail.ru

Результаты корректны, все параметры по этим id уникальны.

Более показательный результат по этому датасету можно получить по запросу phone = 89723802783.

In [15]:
task1_func(test2, phone=89723802783)

,key,id,phone,mail
280575,280575,575695,89723802783,zjhbefgnulnqrkuzzcgtuybffnguibfqme@mail.ru
294613,294613,514455,89723802783,taudkywbceusaavgziwidphetqlbs@mail.ru
464170,464170,514455,85503677037,uinrieggnjgzxx@mail.ru

Перейдем ко второму датасету.

**Проверяем данные по файлу test для id 22296, 35026, 54119**.

In [16]:
task1_func(test, id=22296)

,key,id,phone,mail
8068,8068,16137,86350580710,twrnepja@mail.ru
28326,28326,22296,82750671293,jfcivwlghrampynyexio@mail.ru
58141,58141,36057,80775677213,krgxswekentolramxxwyjvymwyiqtbfbln@mail.ru
111729,111729,22296,87875724457,rpdbkihbzxebilouiwuomzfle@mail.ru
130000,130000,22296,88171207757,fsldrjgam@mail.ru
135531,135531,22296,81787715958,wivq@mail.ru
202906,202906,22296,86393323637,fmhgxo@mail.ru
209486,209486,36057,80654020342,ndqfguqwdaersxeepjswbglvjgwqccscxvr@mail.ru
282349,282349,22296,82305242696,eiyxknwueikmyeiunpzskuvd@mail.ru
291893,291893,61570,84112805432,qsqanznsfykicgnqzycadfozdkntxfigjq@mail.ru
327692,327692,61570,81523321120,gpxzryvscsdrcaudwxybe@mail.ru
392160,392160,22296,83408371348,pnwyq@mail.ru
395029,395029,16137,84877057030,einqvxqhczbncdiljoscsvpwyitwmmbes@mail.ru
418611,418611,22296,87533965232,zticfuxorajyzjkpmdenomkuhcmryifcv@mail.ru
431974,431974,22296,83986165615,hgmkpggidseqtwkxsfskdj@mail.ru
449114,449114,22296,82684464603,cfahbumjshjddfbzabtnspfcwkjkn@mail.ru
488948,488948,22296,83664950848,ogzaiffarhdtjmghzrynfxtqlhlxnap@mail.ru
489661,489661,16137,81396413775,lwhezrnasoqoydxdticzrogmv@mail.ru
523625,523625,36057,83528297036,khlhtzpf@mail.ru
525055,525055,36057,87186495251,dkyqmfwtmahydvrrnil@mail.ru
528907,528907,16137,87944166291,uudzdxcidjzuuniiobavhscvyf@mail.ru
618288,618288,16137,80065402760,nvtma@mail.ru
645162,645162,22296,86001289002,aldh@mail.ru
646661,646661,36057,82460927864,gjqzecmwaaixsdlogcec@mail.ru
655961,655961,61570,86094874548,deypmaypxzkldzroyzvucyvdt@mail.ru
669487,669487,61570,88311613052,bwdbrfo@mail.ru
683844,683844,22296,82943200459,ctymmutinflf@mail.ru
684812,684812,22296,80634195069,hlbdvuvtbpawlnvlkkjgov@mail.ru
693716,693716,22296,82101660676,vmmkevieucndrrcbaphvkkfpyrqyatp@mail.ru
699198,699198,16137,81888510406,jkckxqticfsejrzcugarubzysvrixtqpxz@mail.ru
716763,716763,16137,83464373761,hzzxmiourmynztpeomxeulsocl@mail.ru
727352,727352,22296,83686335404,ugkhnzf@mail.ru
739845,739845,61570,85859473097,aldh@mail.ru
740787,740787,36057,80664838489,aldh@mail.ru
757755,757755,36057,86261112115,cxrnetdyherrhjfhxb@mail.ru
796665,796665,22296,86532327407,ghblomahgmvplor@mail.ru
803985,803985,36057,82857108347,kpzmqg@mail.ru
804288,804288,61570,87895426130,fvbmadgwl@mail.ru
833379,833379,22296,80640630044,kvrzsxunbj@mail.ru
847415,847415,36057,89837390491,uwscraxjftkfmaxgnc@mail.ru
871426,871426,16137,80211484499,aldh@mail.ru
901512,901512,36057,89423411373,kokhplcyhpcmjwodxnzzpihektso@mail.ru
916717,916717,16137,87345392768,smoo@mail.ru
935149,935149,16137,83461453305,kbxsvzvtrbbzkzkspsfodhebfogqvn@mail.ru
998749,998749,16137,88430584904,ginobvfrefglkhwyil@mail.ru
999872,999872,61570,86283699106,jzttmkxsyaxhsqxbogkavnm@mail.ru

In [17]:
task1_func(test, id=35026)

,key,id,phone,mail
9249,9249,35026,88859961198,erolvlycajfgqigosbcrmuoq@mail.ru
14670,14670,80968,83951606408,lsdlhnzzjubio@mail.ru
15428,15428,35026,83668041547,tqsbraqgufg@mail.ru
130433,130433,35026,80461061757,ilaz@mail.ru
174832,174832,80968,87588047659,nokm@mail.ru
200403,200403,63408,88619533449,qqfivktiprbntyro@mail.ru
210709,210709,35026,88985682389,icgmasfjdancjvegxklsnfprdfnfxlv@mail.ru
213951,213951,35026,83978535869,gjuocbhuepsfwiueizrakdpdwmonrptzrf@mail.ru
246225,246225,80968,86802329400,zuyst@mail.ru
268282,268282,72130,81504117095,oigmvppsfvnqqfwmzopackjgqnzlnvxh@mail.ru
282931,282931,80968,86868090544,ilaz@mail.ru
312898,312898,72130,82508682950,twoihsskthldk@mail.ru
327374,327374,80968,88047514161,yfsyscnoykk@mail.ru
340403,340403,80968,88302621124,ukldebmtxywehgmvcno@mail.ru
344452,344452,35026,85435175681,ujwowwpadeeymqnanmqgenlyiu@mail.ru
351837,351837,63408,85948670580,dyah@mail.ru
356207,356207,80968,82151095815,klzp@mail.ru
376355,376355,35026,85460938512,nquizcpqyxssf@mail.ru
426946,426946,72130,80998879275,ilaz@mail.ru
511844,511844,35026,89559314277,fgcirkmhjqy@mail.ru
530950,530950,72130,89292645538,ioxhpaqppulbilbxkfifvlzfxjd@mail.ru
565096,565096,80968,83622266732,dyah@mail.ru
588000,588000,63408,89706138022,ktlsxdibbgknpluvgmdgqgbemlqx@mail.ru
593659,593659,80968,87111560534,lpufqdakyeqpfijzhfdxojiuxkmowf@mail.ru
601130,601130,35026,80028113006,pzmykhhfvyjvgjffcnjrsnx@mail.ru
642809,642809,80968,87403471019,wmlkqojwnabmjiuqbfqkt@mail.ru
648642,648642,35026,87972451991,frxxaajeqzgv@mail.ru
694099,694099,80968,81273385328,ezzdcdijmsa@mail.ru
697767,697767,72130,84348389276,mimeienjmcnwpcfa@mail.ru
718740,718740,72130,85956247290,veubvj@mail.ru
733009,733009,63408,80685958216,mxuvizbxillixnkrwzvhhgtqdkojkqpzl@mail.ru
756115,756115,72130,88838235181,wnhadyjszxhg@mail.ru
761178,761178,35026,87702597554,hcskmilcgiwnbzgaxio@mail.ru
811134,811134,35026,80671188913,seflwemxfguxyqeer@mail.ru
826801,826801,80968,89975254159,yfdwizsdzfwfyzsjhc@mail.ru
837553,837553,35026,80205959351,yfaumdxzgwnhthsetrjxetsgtsnrhxmvhsh@mail.ru
860010,860010,35026,85482562488,sclkwogojjngwmtjjxgay@mail.ru
943351,943351,72130,86833731676,rvnekozuooncjpjkaoradaqbdjxoccslj@mail.ru
977500,977500,80968,81843381800,uyfgv@mail.ru

In [18]:
task1_func(test, id=54119)

,key,id,phone,mail
5194,5194,54119,89552293548,kxjpfbq@mail.ru
19182,19182,54119,82821279200,bhlidahdqanusraft@mail.ru
29727,29727,54119,83034267744,wlbiitnjiwqatatqfqy@mail.ru
34343,34343,99640,87256090916,vrkffzlrawwi@mail.ru
159487,159487,36444,84477973548,nrdqclrrlxsmlmsep@mail.ru
198071,198071,54119,80613616244,fdjz@mail.ru
198694,198694,99640,87445907887,xgpjvfvzvgclahzaqbepqtbby@mail.ru
219484,219484,54119,82661711478,dswfy@mail.ru
221317,221317,99640,83837257718,gldrzeiulsq@mail.ru
324176,324176,54119,85930643579,ohnckhb@mail.ru
333967,333967,99640,88012097578,smwkeirisphpnyqcdnqjjznrtdjl@mail.ru
366151,366151,54119,86093649106,xnkavjbfdwuyuffhscjerqzmn@mail.ru
395144,395144,36444,89123432425,fdjz@mail.ru
431981,431981,36444,89857441358,uvxmvunemtrkicylghqfdldi@mail.ru
471359,471359,99640,81711578528,tnsr@mail.ru
531403,531403,36444,86429863648,nmqddepdrzizgvzzrkqdblnxethiu@mail.ru
604270,604270,99640,84264899952,iiheykllcdyiar@mail.ru
664531,664531,54119,88221663770,dsvdloyaeyparchytnqyc@mail.ru
670163,670163,36444,80985260930,rqxoconrmklotvbccmsommsvmpginwpthrn@mail.ru
690439,690439,99640,84376810566,keqexylegunwcctiufstzfbivrgaavhc@mail.ru
774216,774216,36444,83226827794,fvnwnipfwxczvsvkhsi@mail.ru
777439,777439,36444,80880490869,pwbybbnvzctavgafprovitkqke@mail.ru
785605,785605,99640,84289435141,fwoqvntyluxyujpmkyamdfshxobnunho@mail.ru
789589,789589,99640,85792172368,vtdeiheljjgshcthtky@mail.ru
798896,798896,36444,81098232528,leapaavxjkypervutco@mail.ru
822671,822671,99640,86078255926,dfuznse@mail.ru
825789,825789,36444,85881807269,jybbzirkrwivxcnjkxfcjzrk@mail.ru
829767,829767,99640,87282156737,fdjz@mail.ru
839021,839021,36444,85476329090,hxlv@mail.ru
893496,893496,36444,83177834195,nxew@mail.ru
962026,962026,99640,80432886086,ovthaaghbwlgfbchunmdid@mail.ru
988082,988082,99640,81432194179,phmpfoxxpvzngpdgkga@mail.ru
991995,991995,99640,80161106086,xxhegxc@mail.ru
993913,993913,36444,84951723131,oitxgixzvnqphbphsyuqcnygvjoiyngccxs@mail.ru
997754,997754,36444,81892691334,zqdrfcnkcyaytapybdxrvoldqrhznxzxkha@mail.ru

Получили следующие результаты.

In [19]:
id = [22296, 35026, 54119]
res = pd.DataFrame()
for i in range(len(id)):
    res = pd.concat([res, pd.DataFrame({'id':[id[i]], 'Количество строк': [task1_func(test, id=id[i]).shape[0]]})])
res

      id  Количество строк
0  22296                46
0  35026                39
0  54119                35